* {
  box-sizing: border-box;
}
:root {
  --color-pink: hsl(275, 100%, 97%);
  --color-purple: hsl(292, 42%, 14%);
  --color-graypurple: hsl(292, 16%, 49%);
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
